.overall-ranking-container {
    padding: 20px 15px;
    background-color: #f9f9f9;
    border-radius: 12px;
    max-width: 400px;
    margin: 10px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  

  .ranking-tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding-left: 10px; 
  }
  
  .tab {
    font-size: 14px; 
    font-weight: bold;
    padding: 5px 15px;
    margin-right: 8px;
    border-radius: 20px;
    cursor: pointer;
    color: #555;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .tab.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .ranking-list {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .ranking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .ranking-index {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #555;
  }
  
  .medal {
    font-size: 2rem;
  }
  
  .rank-circle {
    font-size: 16px;
    width: 35px;
    height: 35px;
    background-color: #e0e0e0;
    color: #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ranking-info {
    text-align: left;
    flex: 1;
    margin-left: 10px;
  }
  
  .ranking-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .ranking-profit {
    font-size: 14px;
    color: #e74c3c;
  }
  
  .tier-icon img {
    width: 24px;
    height: 24px;
  }
  
  .ranking-footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f9ff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #555;
  }
  
  .footer-icon {
    font-size: 1.5rem;
    margin-right: 10px;
  }
  
  .loading,
  .error {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #999;
  }
  